<h3>Health Failure Analysis</h3>

Imports

In [72]:
using DataFrames
using CSV
using Plots
using StatsPlots

┌ Info: Precompiling StatsPlots [f3b207a7-027a-5e70-b257-86293d7955fd]
└ @ Base loading.jl:1278
WARNING: could not import Tables.select into StatsPlots

Loading data

In [56]:
ENV["COLUMNS"] = 300

300

In [58]:
df=CSV.read("heart_failure_clinical_records_dataset.csv")

299×13 DataFrame
│ Row │ age     │ anaemia │ creatinine_phosphokinase │ diabetes │ ejection_fraction │ high_blood_pressure │ platelets │ serum_creatinine │ serum_sodium │ sex   │ smoking │ time  │ DEATH_EVENT │
│     │ Float64 │ Int64   │ Int64                    │ Int64    │ Int64             │ Int64               │ Float64   │ Float64          │ Int64        │ Int64 │ Int64   │ Int64 │ Int64       │
├─────┼─────────┼─────────┼──────────────────────────┼──────────┼───────────────────┼─────────────────────┼───────────┼──────────────────┼──────────────┼───────┼─────────┼───────┼─────────────┤
│ 1   │ 75.0    │ 0       │ 582                      │ 0        │ 20                │ 1                   │ 265000.0  │ 1.9              │ 130          │ 1     │ 0       │ 4     │ 1           │
│ 2   │ 55.0    │ 0       │ 7861                     │ 0        │ 38                │ 0                   │ 263358.0  │ 1.1              │ 136          │ 1     │ 0       │ 6     │ 1           │
│ 3   │ 65.0    │ 0       │ 146                      │ 0        │ 20                │ 0                   │ 162000.0  │ 1.3              │ 129          │ 1     │ 1       │ 7     │ 1           │
│ 4   │ 50.0    │ 1       │ 111                      │ 0        │ 20                │ 0                   │ 210000.0  │ 1.9              │ 137          │ 1     │ 0       │ 7     │ 1           │
│ 5   │ 65.0    │ 1       │ 160                      │ 1        │ 20                │ 0                   │ 327000.0  │ 2.7              │ 116          │ 0     │ 0       │ 8     │ 1           │
⋮
│ 294 │ 63.0    │ 1       │ 103                      │ 1        │ 35                │ 0                   │ 179000.0  │ 0.9              │ 136          │ 1     │ 1       │ 270   │ 0           │
│ 295 │ 62.0    │ 0       │ 61                       │ 1        │ 38                │ 1                   │ 155000.0  │ 1.1              │ 143          │ 1     │ 1       │ 270   │ 0           │
│ 296 │ 55.0    │ 0       │ 1820                     │ 0        │ 38                │ 0                   │ 270000.0  │ 1.2              │ 139          │ 0     │ 0       │ 271   │ 0           │
│ 297 │ 45.0    │ 0       │ 2060                     │ 1        │ 60                │ 0                   │ 742000.0  │ 0.8              │ 138          │ 0     │ 0       │ 278   │ 0           │
│ 298 │ 45.0    │ 0       │ 2413                     │ 0        │ 38                │ 0                   │ 140000.0  │ 1.4              │ 140          │ 1     │ 1       │ 280   │ 0           │
│ 299 │ 50.0    │ 0       │ 196                      │ 0        │ 45                │ 0                   │ 395000.0  │ 1.6              │ 136          │ 1     │ 1       │ 285   │ 0           │

First 6 rows of data

In [59]:
head(df)

6×13 DataFrame
│ Row │ age     │ anaemia │ creatinine_phosphokinase │ diabetes │ ejection_fraction │ high_blood_pressure │ platelets │ serum_creatinine │ serum_sodium │ sex   │ smoking │ time  │ DEATH_EVENT │
│     │ Float64 │ Int64   │ Int64                    │ Int64    │ Int64             │ Int64               │ Float64   │ Float64          │ Int64        │ Int64 │ Int64   │ Int64 │ Int64       │
├─────┼─────────┼─────────┼──────────────────────────┼──────────┼───────────────────┼─────────────────────┼───────────┼──────────────────┼──────────────┼───────┼─────────┼───────┼─────────────┤
│ 1   │ 75.0    │ 0       │ 582                      │ 0        │ 20                │ 1                   │ 265000.0  │ 1.9              │ 130          │ 1     │ 0       │ 4     │ 1           │
│ 2   │ 55.0    │ 0       │ 7861                     │ 0        │ 38                │ 0                   │ 263358.0  │ 1.1              │ 136          │ 1     │ 0       │ 6     │ 1           │
│ 3   │ 65.0    │ 0       │ 146                      │ 0        │ 20                │ 0                   │ 162000.0  │ 1.3              │ 129          │ 1     │ 1       │ 7     │ 1           │
│ 4   │ 50.0    │ 1       │ 111                      │ 0        │ 20                │ 0                   │ 210000.0  │ 1.9              │ 137          │ 1     │ 0       │ 7     │ 1           │
│ 5   │ 65.0    │ 1       │ 160                      │ 1        │ 20                │ 0                   │ 327000.0  │ 2.7              │ 116          │ 0     │ 0       │ 8     │ 1           │
│ 6   │ 90.0    │ 1       │ 47                       │ 0        │ 40                │ 1                   │ 204000.0  │ 2.1              │ 132          │ 1     │ 1       │ 8     │ 1           │

Columns

In [61]:
names(df)

13-element Array{String,1}:
 "age"
 "anaemia"
 "creatinine_phosphokinase"
 "diabetes"
 "ejection_fraction"
 "high_blood_pressure"
 "platelets"
 "serum_creatinine"
 "serum_sodium"
 "sex"
 "smoking"
 "time"
 "DEATH_EVENT"

Shape of dataframe (rows, columns)

In [16]:
size(df)

(299, 13)

Dataframe Statistics

In [60]:
describe(df)

13×8 DataFrame
│ Row │ variable                 │ mean     │ min     │ median   │ max      │ nunique │ nmissing │ eltype   │
│     │ Symbol                   │ Float64  │ Real    │ Float64  │ Real     │ Nothing │ Nothing  │ DataType │
├─────┼──────────────────────────┼──────────┼─────────┼──────────┼──────────┼─────────┼──────────┼──────────┤
│ 1   │ age                      │ 60.8339  │ 40.0    │ 60.0     │ 95.0     │         │          │ Float64  │
│ 2   │ anaemia                  │ 0.431438 │ 0       │ 0.0      │ 1        │         │          │ Int64    │
│ 3   │ creatinine_phosphokinase │ 581.839  │ 23      │ 250.0    │ 7861     │         │          │ Int64    │
│ 4   │ diabetes                 │ 0.41806  │ 0       │ 0.0      │ 1        │         │          │ Int64    │
│ 5   │ ejection_fraction        │ 38.0836  │ 14      │ 38.0     │ 80       │         │          │ Int64    │
│ 6   │ high_blood_pressure      │ 0.351171 │ 0       │ 0.0      │ 1        │         │          │ Int64    │
│ 7   │ platelets                │ 263358.0 │ 25100.0 │ 262000.0 │ 850000.0 │         │          │ Float64  │
│ 8   │ serum_creatinine         │ 1.39388  │ 0.5     │ 1.1      │ 9.4      │         │          │ Float64  │
│ 9   │ serum_sodium             │ 136.625  │ 113     │ 137.0    │ 148      │         │          │ Int64    │
│ 10  │ sex                      │ 0.648829 │ 0       │ 1.0      │ 1        │         │          │ Int64    │
│ 11  │ smoking                  │ 0.32107  │ 0       │ 0.0      │ 1        │         │          │ Int64    │
│ 12  │ time                     │ 130.261  │ 4       │ 115.0    │ 285      │         │          │ Int64    │
│ 13  │ DEATH_EVENT              │ 0.32107  │ 0       │ 0.0      │ 1        │         │          │ Int64    │

In [50]:
combine(groupby(df, [:sex, :DEATH_EVENT]), nrow => :count)

4×3 DataFrame
│ Row │ sex   │ DEATH_EVENT │ count │
│     │ Int64 │ Int64       │ Int64 │
├─────┼───────┼─────────────┼───────┤
│ 1   │ 1     │ 1           │ 62    │
│ 2   │ 0     │ 1           │ 34    │
│ 3   │ 0     │ 0           │ 71    │
│ 4   │ 1     │ 0           │ 132   │

In [52]:
combine(groupby(df, [:sex, :anaemia]), nrow => :count)

4×3 DataFrame
│ Row │ sex   │ anaemia │ count │
│     │ Int64 │ Int64   │ Int64 │
├─────┼───────┼─────────┼───────┤
│ 1   │ 1     │ 0       │ 117   │
│ 2   │ 1     │ 1       │ 77    │
│ 3   │ 0     │ 1       │ 52    │
│ 4   │ 0     │ 0       │ 53    │

In [53]:
combine(groupby(df, [:sex, :high_blood_pressure]), nrow => :count)

4×3 DataFrame
│ Row │ sex   │ high_blood_pressure │ count │
│     │ Int64 │ Int64               │ Int64 │
├─────┼───────┼─────────────────────┼───────┤
│ 1   │ 1     │ 1                   │ 61    │
│ 2   │ 1     │ 0                   │ 133   │
│ 3   │ 0     │ 0                   │ 61    │
│ 4   │ 0     │ 1                   │ 44    │

In [54]:
combine(groupby(df, [:sex, :smoking]), nrow => :count)

4×3 DataFrame
│ Row │ sex   │ smoking │ count │
│     │ Int64 │ Int64   │ Int64 │
├─────┼───────┼─────────┼───────┤
│ 1   │ 1     │ 0       │ 102   │
│ 2   │ 1     │ 1       │ 92    │
│ 3   │ 0     │ 0       │ 101   │
│ 4   │ 0     │ 1       │ 4     │

In [55]:
combine(groupby(df, [:sex, :diabetes]), nrow => :count)

4×3 DataFrame
│ Row │ sex   │ diabetes │ count │
│     │ Int64 │ Int64    │ Int64 │
├─────┼───────┼──────────┼───────┤
│ 1   │ 1     │ 0        │ 124   │
│ 2   │ 0     │ 1        │ 55    │
│ 3   │ 1     │ 1        │ 70    │
│ 4   │ 0     │ 0        │ 50    │